Repository IDEMSInternational/open-app-builder, pull requests merged in 2024-09, with the labels that each got.

#2390 fix: warning log invalid naming
  packages/scripts/src/commands/app-data/convert/index.ts
  packages/shared/src/utils/logging/file-logger.ts
  packages/shared/src/utils/logging/memory-logger.ts
Labels: fix

#2389 fix: audio player seek
  src/app/shared/components/template/components/audio/audio.component.html
  src/app/shared/components/template/components/audio/audio.component.ts
Labels: fix

#2401 Create CNAME
  documentation/CNAME
Labels: documentation

#2371 fix: make calc context vars available immediately on init (alt)
  src/app/shared/components/template/services/template-calc.service.ts
  src/app/shared/services/userMeta/userMeta.service.ts
Labels: fix

#2379 docs: data generators
  documentation/docs/authors/advanced/data-generators.md
  documentation/mkdocs.yml
Labels: documentation

#2403 chore: update comment in toggle-bar component code to reflect default styling on web
  src/app/shared/components/template/components/toggle-bar/toggle-bar.ts
Labels: maintenance

#2410 Chore: update action artifact versions
  .github/workflows/deprecated/deployment-hosting.yml
  .github/workflows/deprecated/sourcemaps-upload.yml
  .github/workflows/reusable-android-build.yml
  .github/workflows/reusable-android-release.yml
  .github/workflows/reusable-appetize.yml
  .github/workflows/reusable-deploy-pr-preview.yml
  .github/workflows/reusable-deploy-web-preview.yml
  .github/workflows/test-preview.yml
  .github/workflows/test-visual.yml
  .github/workflows/web-build.yml
  packages/actions/templates/app-build/template.yml
  packages/actions/templates/deploy-firebase/template.yml
  packages/actions/templates/pr-preview-firebase/template.yml
Labels: test - preview

#2385 Chore: set default node version 20
  .github/workflows/deprecated/build-and-upload.yml
  .github/workflows/deprecated/pr-build.yml
  .github/workflows/deprecated/sourcemaps-upload.yml
  .github/workflows/deprecated/test-e2e.yml
  .github/workflows/documentation-lint.yml
  .github/workflows/reusable-android-build.yml
  .github/workflows/reusable-app-build.yml
  .github/workflows/reusable-content-sync.yml
  .github/workflows/test-visual.yml
  .github/workflows/web-build.yml
  .nvmrc
  README.md
  documentation/docs/index.md
  packages/actions/templates/app-build/template.yml
Labels: documentation, test - visual, test - preview

#2409 Feat: runtime deployment frontend
  packages/data-models/deployment.model.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/feature/feedback/feedback.service.ts
  src/app/shared/services/app-config/app-config.service.ts
  src/app/shared/services/auth/auth.service.ts
  src/app/shared/services/crashlytics/crashlytics.service.ts
  src/app/shared/services/db/db-sync.service.ts
  src/app/shared/services/deployment/deployment.service.ts
  src/app/shared/services/dynamic-data/adapters/persistedMemory.ts
  src/app/shared/services/dynamic-data/adapters/reactiveMemory.ts
  src/app/shared/services/dynamic-data/dynamic-data.service.ts
  src/app/shared/services/error-handler/error-handler.service.ts
  src/app/shared/services/file-manager/file-manager.service.ts
  src/app/shared/services/firebase/firebase.service.ts
  src/app/shared/services/remote-asset/remote-asset.service.ts
  src/app/shared/services/seo/seo.service.ts
  src/app/shared/services/server/server.service.ts
  src/app/shared/services/task/task-action.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Labels: test - visual, test - preview

#2407 docs: add instructions for avoiding folder path issues
  README.md
  documentation/docs/contributors/documentation/running-server.md
  documentation/docs/index.md
  documentation/requirements.txt
Labels: documentation

#2414 chore: update ios Podfile lock file
  ios/App/Podfile.lock
Labels: maintenance

#2412 feat!: analytics and api deployment-specific runtime configuration
  packages/data-models/deployment.model.ts
  packages/scripts/src/tasks/providers/appData.ts
  src/app/app.module.ts
  src/app/deployment-features.module.ts
  src/app/shared/services/analytics/analytics.module.ts
  src/app/shared/services/analytics/index.ts
  src/app/shared/services/deployment/deployment.service.ts
  src/app/shared/services/server/interceptors.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
Labels: feature, breaking

#2422 chore: update pr labeller actions
  .github/pr-labeler.config.yml
  .github/workflows/gh-pr-label-paths.yml
  .github/workflows/gh-pr-label-title.yml
  .github/workflows/gh-pr-labeler.yml
Labels: maintenance

#2423 Refactor: app config runtime
  packages/data-models/appConfig.ts
  packages/data-models/deployment.model.ts
  packages/data-models/flowTypes.ts
  packages/data-models/functions.ts
  packages/scripts/src/commands/app-data/postProcess/assets.spec.ts
  packages/scripts/src/commands/deployment/common.ts
  packages/scripts/src/commands/deployment/compile.ts
  packages/scripts/types/index.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utils/object-utils.spec.ts
  packages/shared/src/utils/object-utils.ts
  src/app/app-routing.module.ts
  src/app/data/constants.ts
  src/app/data/index.ts
  src/app/feature/theme/services/theme.service.spec.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/model/index.ts
  src/app/shared/services/app-config/app-config.service.spec.ts
  src/app/shared/services/app-config/app-config.service.ts
  src/app/shared/services/app-config/app-config.utils.ts
  src/app/shared/services/deployment/deployment.service.spec.ts
  src/app/shared/services/local-storage/local-storage.service.spec.ts
  src/app/shared/services/skin/skin.service.spec.ts
  src/app/shared/services/skin/skin.service.ts
  src/app/shared/utils/utils.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Labels: scripts

#2424 feat: app data conversion reports
  .gitignore
  packages/scripts/.gitignore
  packages/scripts/src/commands/app-data/convert/convert.spec.ts
  packages/scripts/src/commands/app-data/convert/index.ts
  packages/scripts/src/commands/app-data/convert/processors/flowParser/parsers/template.parser.ts
  packages/scripts/src/commands/app-data/convert/report/report.ts
  packages/scripts/src/commands/app-data/convert/report/report.types.ts
  packages/scripts/src/commands/app-data/convert/report/report.utils.spec.ts
  packages/scripts/src/commands/app-data/convert/report/report.utils.ts
  packages/scripts/src/commands/app-data/convert/report/reporters/flows-by-type.spec.ts
  packages/scripts/src/commands/app-data/convert/report/reporters/flows-by-type.ts
  packages/scripts/src/commands/app-data/convert/report/reporters/template-summary.spec.ts
  packages/scripts/src/commands/app-data/convert/report/reporters/template-summary.ts
  packages/scripts/src/commands/app-data/convert/utils/index.ts
  packages/scripts/src/commands/app-data/convert/utils/logging.ts
  packages/scripts/test/helpers/utils.ts
  packages/shared/src/utils/file-utils.spec.ts
  packages/shared/src/utils/file-utils.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/object-utils.spec.ts
  packages/shared/src/utils/object-utils.ts
Labels: feature, scripts

#2432 fix: scripts app_config
  packages/scripts/src/commands/app-data/postProcess/assets.ts
Labels: scripts, fix

#2429 Feat: assets report
  packages/scripts/src/commands/app-data/convert/convert.spec.ts
  packages/scripts/src/commands/app-data/convert/index.ts
  packages/scripts/src/commands/app-data/convert/report/report.ts
  packages/scripts/src/commands/app-data/convert/report/report.utils.spec.ts
  packages/scripts/src/commands/app-data/convert/report/report.utils.ts
  packages/scripts/src/commands/app-data/postProcess/sheets.ts
  packages/scripts/src/commands/app-data/report/report.ts
  packages/scripts/src/commands/app-data/report/report.types.ts
  packages/scripts/src/commands/app-data/report/report.utils.spec.ts
  packages/scripts/src/commands/app-data/report/report.utils.ts
  packages/scripts/src/commands/app-data/report/reporters/asset-summary.spec.ts
  packages/scripts/src/commands/app-data/report/reporters/asset-summary.ts
  packages/scripts/src/commands/app-data/report/reporters/flows-by-type.spec.ts
  packages/scripts/src/commands/app-data/report/reporters/flows-by-type.ts
  packages/scripts/src/commands/app-data/report/reporters/template-summary.spec.ts
  packages/scripts/src/commands/app-data/report/reporters/template-summary.ts
  packages/scripts/src/tasks/providers/appData.ts
  packages/shared/src/utils/string-utils.ts
  packages/workflows/src/sync.workflows.ts
Labels: scripts
